[submodule "DSSA-Dashboard-Datazine"]
	path = DSSA-Dashboard-Datazine
	url = https://github.com/Breezy-DR/DSSA-Dashboard-Datazine.git
[submodule "VeriFind"]
	path = VeriFind
	url = https://github.com/ScientiFolks/VeriFind
[submodule "ML-TuneHive"]
	path = ML-TuneHive
	url = https://github.com/zeev-haydar/ML-TuneHive
[submodule "Cyber-Threat-Analysis"]
	path = Cyber-Threat-Analysis
	url = https://github.com/GoDillonAudris512/Cyber-Threat-Analysis
